---
import { getCollection } from "astro:content";
import Layout from '../../layouts/Layout.astro';
import BlogPost from '../../components/ProjectPost.astro';

export async function getStaticPaths() {
  const allProjects = await getCollection('projects');
  const uniqueTags = [...new Set(allProjects.flatMap(p => p.data.tags || []))];
  return uniqueTags.map((tag) => {
    const filteredPosts = allProjects.filter((post) =>
      post.data.tags?.includes(tag)
    );
    return { 
      params: { tag },
      props: { posts: filteredPosts },
    };
  });
}

const { tag } = Astro.params;
const { posts } = Astro.props;
---

<Layout pageTitle={tag}>
  <p>Posts tagged with {tag}</p>
  <ul>
    { posts.map((post) => <BlogPost url={`/posts/${post.id}/`} title={post.data.title} />) }
  </ul>
</Layout>