---
import { getCollection } from "astro:content";
import Layout from '../../layouts/Layout.astro';
import ProjectPost from '../../components/ProjectPost.astro';

export async function getStaticPaths() {
  const allProjects = await getCollection("ProjectIndex");

  const uniqueTags = [...new Set(allProjects.map((project: any) => project.data.tags).flat())];

  return uniqueTags.map((tag) => {
    const filteredProjects = allProjects.filter((project: any) => project.data.tags.includes(tag));
    return {
      params: { tag },
      props: { projects: filteredProjects },
    };
  });
}

const { tag } = Astro.params;
const { projects } = Astro.props;
---
<Layout pageTitle={tag}>
  <p>Projects tagged with {tag}</p>
  <ul>
    {projects.map((project: any) => <ProjectPost url={`/projects/${project.id}/`} title={project.data.title} />)}
  </ul>
</Layout>