---
import '../styles/global.css';
import Layout from '../layouts/Layout.astro';

const pageTitle = 'About Me';

---

<Layout>

    <body>
        
        <img src="../assets/RubyPhoto.png" alt="Ruby Mykkanen" class="profile-image"/>
        <div class = "main-content">
            <h1>{pageTitle}</h1>
            <p>Hi, I'm Ruby Mykkanen, a future engineer! I'm inspired by learning more about the world I live in, and making creations of my own.</p>
            <h2>Where I am right now:</h2>
            <li>I am a freshman at the Massachusetts Institute of Technology</li>
            <li>I am studying Mechanical Engineering and or Bioengineering</li>
            <li>I am looking for opportunities to learn more about these fields via real-world experience [see resume for current skillset]</li>

            

        </div>
    </body>
</Layout>

<style>
    li {
        color: #FB8B24;
        font-weight: bold;
    }
    p {
        color: #708D81;
        font-size: 1.2em;
    }
    h2 {
        color: #0F4C5C;
        font-weight: bold;
    }
</style>