---
import '../styles/global.css';
import Layout from '../layouts/Layout.astro';
const pageTitle = 'Contact';

---

<Layout>
    <body>
        <div class="main-content">
            <h1>{pageTitle}</h1>
            <p>If you would like to get in touch, please email me at: <a href="mailto: ruby.mykkanen@gmail.com" class = "link">ruby.mykkanen@gmail.com</a></p>
            <p>Or follow me on <a href="link to my insta" class = "link">Instagram</a> to keep updated!</p>
        </div>
    </body>
</Layout>  