---
import '../styles/global.css';
import Layout from '../layouts/Layout.astro';
const pageTitle = 'Contact';

---

<Layout>
    <body>
        <div class="main-content">
            <h1>{pageTitle}</h1>
            <p>Don't hesitate to reach out with ideas, oppourtunities, or questions!</p>
            <p>To get in touch, please email me at <a href="mailto: ruby.mykkanen@gmail.com" class = "link">ruby.mykkanen@gmail.com</a> or connect with me on <a href="https://www.linkedin.com/in/ruby-mykkanen-a4b18035b/" class = "link">LinkedIn</a>.</p>
        </div>
    </body>
</Layout>  