---
import Layout from '../layouts/Layout.astro';
const pageTitle = 'Home Page';
---

<Layout>
	<a href="/">Home</a>
	<a href="/about/">About</a>
	<a href="/projects/">Projects</a>
	<a href="/contact/">Contact</a>

	<body>
		<h1>{pageTitle}</h1>
	</body>	
</Layout>
