---
import Layout from '../layouts/Layout.astro';
const pageTitle = "Home Page";
import ProfileImage from '../assets/Profile.jpg';

---
<Layout pageTitle = {}>

	<div class="about-block">
		<div><img src={ProfileImage.src} alt="Ruby Mykkanen Avatar" class="avatar"/></div>
			
		<div>
			<h1>Ruby Mykkanen</h1>
	  		<h2>Engineer, Student, Botanist, Musician</h2>
		</div>
	</div>

	<div class="about-block">
		<div>
			<p>I am a freshman student at the Massachusetts Institute of Technology. I plan to pursue a degree in Mechanical and Biological Engineering. 
			My primary interests lie in: </p>
			<li>Bioprinting and tissue engineering</li>

			<li>Designing scientific instruments for biological study</li>

			<li>Genetic engineering of plants</li>
		</div>
		<div>

		</div>
	</div>

</Layout>