---
import '../styles/global.css';
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
const pageTitle = 'Monthly Newsletter';
---

<Layout>
    
    <body>
        <div class="main-content">
            <h1>{pageTitle}</h1>
            <p>Here's where I post a monthly in-depth update on what I've been up to!</p>
            <p></p>
            <p>If you'd like to recieve an email when this newsletter is updated, please enter your email here:</p>
            <form action="/subscribe" method="POST">
                <label for="email" class = "emailLabel">Email: </label>
                <input type="email" class = "emailBox" id="email" name="email" required>
                <button type="submit" class = "submitButton">Subscribe</button>
            </form>
        </div>

    </body>

</Layout>