---
import { getCollection } from "astro:content";
import Layout from '../layouts/Layout.astro';
import ProjectPost from '../components/ProjectPost.astro';

const pageTitle = 'My Projects';
const allPosts = await getCollection("projects");
---

<Layout>

    <div class="main-content">
        <h1>{pageTitle}</h1>
        <ul class="project-list">
            {allPosts.map(
                (post) => <ProjectPost frontmatter={post.data}/>
                )
                }
         </ul>
    </div>
</Layout>