---
import { getCollection } from "astro:content";
import Layout from '../layouts/Layout.astro';
import BlogPost from '../components/BlogPost.astro';

const pageTitle = 'My Projects';
const allPosts = await getCollection("project");
---

<Layout>
    <div class="main-content">
        <h1>{pageTitle}</h1>
        <ul>
            {allPosts.map(
                (post) => <BlogPost url={`/posts/${post.id}/`} title={post.data.title} />
                )
                }
         </ul>
    </div>
</Layout>