---
import RubyBlogLogo from '../assets/RubyBlogLogo.png';
---
<a href= "/" class="blog-logo-title"> Ruby Mykkanen </a>
  <a href="/" class="blog-logo-link">
    <img src={RubyBlogLogo.src} alt="Blog Logo" class="blog-logo" />
  </a>