---
import Navigation from "./Navigation.astro";
import Hamburger from "./Hamburger.astro";
import ThemeIcon from "./ThemeIcon.astro";
import BlogLogoTitle from "./BlogLogoTitle.astro";
---

<header class="header">
    <p class="logo-block">
        <BlogLogoTitle />           
        <Hamburger />    
    </p>

    <nav>
  
        <Navigation>
        <ThemeIcon />

    </nav>
 
</header>

